/* App.css */
body {
    overflow-x: hidden !important; /* Prevent horizontal scroll */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
  position: relative;
  max-width: 100vw;
}

.content {
  flex: 1; /* main content stretches */
}

footer {
    position: relative;
    bottom: 0;
}
